/* GLOBAL//////////////////////////////////////////////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apparat, sans-serif;
}

h1 {
    color: black;
    background-color: #fff300;
    font-family: apparat,sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 30px;
}

h2 {
    color: black;
    background-color: #fff300;
    font-family: apparat,sans-serif;
    font-weight: 800;
    font-style: italic;
}

h3 {
    color: #fff300;
    background-color: black;
    font-family: apparat,sans-serif;
    font-weight: 800;
    font-style: italic;
}

span {
    color: #A6A297;
    font-family: apparat,sans-serif;
    font-weight: 900;
    font-style: italic;
}

a {
    color: white;
    background-color: black;
    font-family: apparat,sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: none;
}

p, dl {
    font-family: apparat,sans-serif;
    font-weight: 400;
    font-style: italic;
}

li {
    font-family: apparat,sans-serif;
    font-weight: 400;
    font-style: italic;
}

body {
    background-color: #ece9e9;
    width: 100%;
}

/* PRODUCT VIEW//////////////////////////////////////////////////// */
.mainProduct {
    width: 95vw;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 40% 10% 23% 20%;

}

.mainNav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fff300;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    height: 7%;
}

.longTitle {
    max-width: 50%;
}

.breadcrumbs {
    grid-area: 1 / 1 / 2 / 2;
}

li {
    display: inline-block;
}


.productCard {
    height: 100%;
    width: 100%;
    grid-area: 2 / 1 / 3 / 2;
}

.productImage {
    max-width: 70%;
    max-height: 90%;
    display: block;
    margin: 0 auto;

}

.info {
    grid-area: 3 / 1 / 4 / 2 ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}

.info > h3 {
    padding: 5% 10%;
}

.brandName {
    grid-area: 2 / 2 / 3 / 3;
}

.info > dl {
    grid-area: 1 / 2 / 2 / 3 ;
}

.purchaseBox {
    grid-area: 5 / 1 / 6 / 2;
    height: auto;
}

/* productList///////////////////////////////////////////////////////// */

.mainProductList {
    display: flex;
    width: 95vw;
    margin: auto;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 50px;

}

.mainProductList > h2 {
    display: block;
    width: 100%;
}

.mainProductList > article {
    min-width: fit-content;
    max-width: 80%;
}

.smallProduct > img {
    max-height: 250px;
}

.mainProductList article.soldOut {
    opacity: 0.4;
}

.mainProductList article.soldOut:before {
    display: block;
    content:"Sold Out";
    position: absolute;
    background-color: #fff300;
    color: black;
    padding: 1em;
    margin-top: 10px;
}

.mainProductList article.discounted .price
 {
    display: none;
}
